/**
 * Custom styles for Taiga theme
 * Add your customizations here
 */

/* Import CJK Typography Optimizations */
@import "../../styles/extras/cjk-typography.scss";

/* Import Mobile Optimizations */
@import "../../styles/extras/mobile-optimizations.scss";
